@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
	font-family: 'Inter', sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@layer components {
	/* *,
	*::after {
		@apply dark:;
	} */
	.input {
		@apply p-2 rounded-md placeholder:text-sm dark:bg-zinc-900;
	}

	label {
		@apply text-xs font-medium;
	}

	/* width */
	::-webkit-scrollbar {
		width: 10px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		@apply bg-zinc-900;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		@apply bg-sky-500 rounded;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		@apply bg-sky-400;
	}
}
